/* ©Lanred */
/* ©Heart Studios */

/* Font registry */
@font-face {
    font-family: Open_Sans_Regular;
    src: url("../Others/Fonts/Open_Sans/OpenSans-Regular.ttf")  format("truetype");
}

@font-face {
    font-family: Open_Sans_Bold;
    src: url("../Others/Fonts/Open_Sans/OpenSans-Bold.ttf")  format("truetype");
}

@font-face {
    font-family: Open_Sans_Light;
    src: url("../Others/Fonts/Open_Sans/OpenSans-Light.ttf")  format("truetype");
}

/* Class Based */
.Page_Landing {
    width: 100%;
    height: 939px;
}

.Page_Landing .Center_Position_Inline {
    display: inline-flex;
    margin-left: 23%;
    margin-top: 305.175px;
    overflow: hidden;
}

.Page_Landing .Center_Position_Inline .Logo {
    height: auto;
    min-height: 93.9px;
    transition: 0.5s;
}

.Page_Landing .Center_Position_Inline .Section_Container {
    border-radius: 9.39px;
    margin-left: 18.79px;
    width: 657.65px;
}

.Page_Landing .Center_Position_Inline .Section_Container .Landing_Title {
    color: #ffffff;
    font-size: 56.34px;
    font-family: Open_Sans_Bold;
}

.Page_Landing .Center_Position_Inline .Section_Container .Landing_Under_Title {
    color: #ffffff;
    font-size: 18.78px;
    font-family: Open_Sans_Light;
    transition: 0.5s;
}

.Section_Combine {
    width: 100%;
    height: auto;
}

.Section_Container_About_Center {
    width: 100%;
    height: 281.7px;
    min-height: 281.7px;
}

.Section_Container_About_Center .Section_Info_Title {
    font-size: 46.95px;
    text-align: center;
    color: #ffffff;
    font-family: Open_Sans_Bold;
}

.Section_Container_About_Center .Section_Info_Under_Title {
    text-align: center;
    color: #ffffff;
    font-family: Open_Sans_Regular;
    transition: 0.5s;
}

.Section_Container_About_Center .Divider {
    width: 90%;
    height: 4.695px;
    background-color: #ffffff;
    border-radius: 9.39px;
    margin-top: 9.39px;
    margin-bottom: 9.39px;
    border: none;
}

.Section_Container_About_Center .About_Section {
    width: 1785.05px;
    height: auto;
}

.Section_Container_About_Center .About_Section .About_Info {
    color: #ffffff;
    text-align: center;
    font-family: Open_Sans_Light;
}

.Skills_Container {
    width: 1879px;
    height: 469.5px;
    background-color: #111111;
    display: flex;
}

.Skills_Container .Skill_Holder {
    background-color: #1f1f1f;
    border-radius: 18.78px;
    width: 319.43px;
    height: 413.16px;
    margin-top: 23.475px;
    position: absolute;
    transition: 0.5s;
}

.Skills_Container .Skill_Holder .Skill_Title {
    font-size: 18.78px;
    text-align: center;
    color: #ffffff;
    font-family: Open_Sans_Bold;
}